<form action="">
  <label for="amount_of_BTC"> How Many BTC Do You Have?
  <input type="text" id="amount_of_BTC" name="amount_of_BTC">
  </label>
  <button>SUBMIT</button>
</form>

<p>You have <%= @bitcoin %> Bitcoin.</p>
<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoin is worth $<%= @usd_value %>.</p>